.currentCapacity {
    margin-top: 1.5em;
    margin-bottom: 0.25em;
}

button.refresh-btn {
    width: 7em;
    margin-bottom: 4px;
}


.dashboardOpen strong {
    color: var(--green);
}

.dashboardClosed strong {
    color: var(--darkRed);
}

.clockIn-btn, .clockOut-btn {
    border: 2px solid var(--darkRed);
    border-radius: .2rem;
    height: 2.5em;
    padding: 0 1em;
    font-weight: 600;
    color: white;
    background: #23272c;
    margin-top: 0em;
}

.clockOut-btn {
    background: var(--darkRed);
}

.clockIn-btn:hover {
    background: var(--darkRed);
    border: 1px solid var(--darkRed);
    transition: 0.3s;
}


.clockOut-btn:hover {
    background: #23272c;
    border: 1px solid var(--darkRed);
    transition: 0.3s;
}

.selectedVisit {
    font-size: 1.1em;
}

.dashboardAddress {
    font-size: 1.2em;
}

.submit-btn.increaseCount {
    width: 3em;
    margin-top: .5em;
}

.submit-btn.decreaseCount {
    margin-top: 1em;
    width: 3em;
}

.dashboard-amount {
    display: inline;
    margin: 0 auto;
    text-align: center;
    width: 6em;
    margin-right: .5em;
    margin-left: .5em;
}

.alertBox.occupancySuccess {
    margin-top: -1em;
}

.donutChart {
    margin-bottom: 1em;
}

.alertBox.amountError {
    margin-top: -1em;
}


.submit-btn.dashEmployees {
    margin-top: 1em;
}

.dash-h5 {
    margin-top: 1em;
    margin-bottom: 0em;
}

.secondary-btn.changeOccupancy {
    margin-top: .5em;
    width: 6em;
    height: 2.5em;
    margin-bottom: 2em;
}

.form-control[readonly] {
    background-color: #ffffff;
    font-weight: bold;
    opacity: 1;
}

.joinQueue {
    margin-top: 1em !important;
    margin-bottom: 1em !important;    
    margin: 0 auto;
    display: block;
}

.theresAline {
    margin-top: 1em;
}


.dash-partySize {
    margin: 0 auto;
    text-align: center;
    width: 8em;
}

.dash-partyLabel {
    margin-top: 0em;
}

.dash-maxParty {
    margin-top: .5em;
}

.dash-queueLength {
    margin-top: -1em;
}


.dash-moveForward {
    margin-bottom: 1em;
    margin-left: 1em;
}

.dash-custmersInLine {
    margin-top: .5em;
}

.queue-head {
    margin-top: -.5em;
}

.checkLine {
    margin-right: 1em;
}

.dash-border {
    border: 1px solid rgb(0, 0, 0);
    max-width: 18em;
    margin: 0 auto;
    padding-top: 1em;
    margin-bottom: 1.5em;
    margin-top: 1em;
}

.content.dashboardContent {
    width: 95%; 
    max-width: 39em !important;
    /* max-width: 20em; */
}

.lateVisits {
    margin-top: -.5em;
}

.content.smallDashContent {
    max-width: 24em;
}

@media screen and (max-width: 767px) {
    .content.dashboardContent {
        width: 29em;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .dash-storeName {
        width: 10em;
        margin: 0 auto;
    }
}

.container.dashboard {
    max-width: 40em;
}


.employeeQueue{
    margin: 0 auto;
    margin-top: -.5em;
    /* max-width: 17em; */
}

.dash-visitSelect {
    margin: 0 auto;
}

.dash-visitSelect.smallerBar > .css-2b097c-container {
    /* width: 14em; */
    /* margin-left: -2.5em; */
}

.confirmVisit {
    margin-bottom: 1.5em;
}

.dash-alerts {
    margin: 0 auto;
    max-width: 16em;
}

.chartjs-render-monitor {
    margin: 0 auto;
    max-width: 300px;
    max-height: 150px;
}

.alertBox.dash-warning {
    margin-top: 0em;
}

.dash-skip {
    margin-right: .25em;
}

.dash-skip:hover {
    background-color: var(--darkRed) !important;
}

.cancelVisit:hover {
    background-color: var(--darkRed) !important;
}

.cancelVisit {
    margin-right: 1em;
}