.css-2b097c-container {
    margin-bottom: 1em;
    margin-top: 1em;
}


.css-2b097c-container {
    width: 100%;
}

.secondary-btn.findstore {
    margin-bottom: 1.5em;
}

.alertBox.findstore {
    margin-top: -.5em;
}

.findStore-p1 {
    margin-bottom: -1.5em;
}