.css-nakgy8-TimeKeeper {
    margin-bottom: 14px;
}

.css-tqvze-ClockWrapper {
    z-index: 0;
}

.alertBox {
    margin-top: 10px;
}

.visitContent {
    text-align: center;
}

.inputDate {
    text-align: center;
}

.noStoreId {
    margin-top: 30px;
}