.css-2b097c-container {
    margin-bottom: 1em;
    margin-top: 1em;
}


/* .css-2b097c-container {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
} */

.content.findStore > .css-2b097c-container {
    max-width: 21rem;
    margin: 0 auto;
    margin-bottom: 1em;
}

.secondary-btn.findstore {
    margin-bottom: 1.5em;
}

.alertBox.findstore {
    margin-top: -.5em;
}

.findStore-p1 {
    margin-bottom: -1.5em;
}

.alertBox.clickDashBtn {
    margin-top: 0em;
    margin-bottom: -1.75em;
}

.submit-btn.find-createStore {
    margin-top: 0em;
}

.findStore-visit {
    margin-top: 1em;
}