/* Quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

.form-control:focus{
    border-color: var(--darkBlue);
    box-shadow: 0 0 0 2px rgba(68, 84, 105, 0.3);
}


:root {
    font-size: 17px;
    --darkBlue: #445469;
    --lightBlue: #0a6096;
    --darkRed: #b92828;
    --green: #209129;
}


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


/* Adjacent sibling selector 
      This makes it so first and last elements dont have margin */
/* * + * {
    margin: 1em 0 0;
}  */


html, body, #root {
    min-width: 100%;
}


body {
    background-color: var(--darkBlue);
}


body, input, button {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}


.container {
    margin: auto;
    margin-top: 5em;
    max-width: 407px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert {
    margin-top: 1em;
}

.container h1, h2, h3, h4, h5, h6 {
    color: var(--darkBlue);
}


.container strong {
    color: #616161;
}


/* white square behind everything */
.content {
    width: 115%;
    opacity: 0.9;
    background-color: white;
    margin-bottom: 2em;
    border-radius: 10px;
    padding: 3em;
    text-align: center;
}


.content > p {
    font-size: 1.25em;
}


.container .form-group {
    min-width: 320px;
}


.content button.submit-btn {
    border: 0;
    border-radius: 6px;
    height: 2.5em;
    padding: 0 1em;
    font-weight: 600;
    background-color: var(--darkBlue);
    color: white;
}


.content button.submit-btn:hover {
    background-color: var(--lightBlue);
    transition: .4s;
}


.content button.secondary-btn {
    border: 0;
    border-radius: 6px;
    height: 2.5em;
    padding: 0 1em;
    font-weight: 600;
    background-color: #0a6096;
    color: white;
}


.content button.secondary-btn:hover {
    background: #2c7aaa;
    transition: .4s;
}


.content button.delete-btn {
    border: 0;
    border-radius: 6px;
    height: 2.5em;
    padding: 0 1em;
    font-weight: 600;
    background-color: var(--darkBlue);
    color: white;
}


.content button.delete-btn:hover {
    background-color: var(--darkRed);
    transition: .4s;
}


.modal-content button.btn-primary {
    border: 0;
    border-radius: 6px;
    height: 2.5em;
    padding: 0px 1em 0px 1em;
    font-weight: 600;
    background-color: var(--lightBlue);
    color: white;
}


.modal-content button.btn-primary:hover {
    background: #2c7aaa;
    transition: .4s;
}


.modal-content button.btn-secondary {
    border: 0;
    border-radius: 6px;
    height: 2.5em;
    padding: 0px 1em 0px 1em;
    font-weight: 600;
    background-color: var(--darkBlue);
    color: white;
}


.modal-content button.btn-secondary:hover {
    background: #576c86;
    transition: .4s;
}