.css-nakgy8-TimeKeeper {
    margin-bottom: 14px;
}


.css-tqvze-ClockWrapper {
    z-index: 0;
}

.css-1qk1skk-TimeDropdown {
    z-index: -500 !important;
}

.visitContent {
    text-align: center;
}

.inputDate {
    text-align: center;
}

.noStoreId {
    margin-top: 30px;
}

.scheduleVisitClosed {
    display: inline;
}

.hoursList {
    text-align: left;
    font-size: 1.1em;
}

.hoursList strong {
    color: var(--lightBlue);
}

.scheduleListBorder {
    margin: 0 auto;
    max-width: 25rem;
    border: 1px solid var(--darkBlue);
    border-radius: 4px;
    list-style-position: outside;
    margin-bottom: 2.5em;
}

.scheduleListBorder li {
    margin: .3em 1em .3em 3.25em;
}

#visitRedText {
    color: var(--darkRed) !important;
}

.scheduleVisit-input {
    max-width: 8.5em;
    margin: 0 auto;
    text-align: center;
}


.submit-btn.myVisits {
    margin-top: 4em !important;
    margin-bottom: 1em;
}

.alertBox.myVisits {
    margin-bottom: -2.5em;
}

.submit-btn.myVisitsDash {
    margin-top: 1em;
}