/* white square behind everything */
.registerContent {
    background-color: white;
    margin-bottom: 2em;
    border-radius: 10px;
    padding: 3em;
}


.registerContent > p {
    font-size: 1.25em;
}

.registerContent > h4 {
    margin-bottom: 1em;
}


.registerContent button.secondary-btn {
    border: 0;
    border-radius: .2rem;
    height: 2.5em;
    padding: 0 1em;
    font-weight: 600;
    background-color: var(--darkBlue);
    color: white;
}


.registerContent button.secondary-btn:hover {
    background: var(--lightBlue);
    transition: .4s;
}


.registerList li {
    margin-bottom: 1em;
    margin-left: 1em;
}


.register-account {
    margin-top: 4em;
}

.row-register {
    min-width: 16em;
    max-width: 28em;
    margin: 0 auto;
    /* background-color: red; */
}

.col-register1 {
    min-width: 3.5em;
    max-width: 3.5em;
}

.col-register2 {
    min-width: 4em;
    max-width: 4em;
}

.col-margins {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.reg-symbols {
    font-size: 1.25em;
    flex-grow: 0;
    top: .1em;
    /* background-color: red; */
}


.hyphen1 {
    padding-right: .1em;
    padding-left: .1em;
}